.pokemonCardDetail {
  width: auto;
  background-color: rgb(250, 145, 6);
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  text-align: center;
  color: rgb(20, 19, 19);

  .pokemonNameDetail {
    margin: 1rem;
  }
  .pokemonImgDetail {
    margin: 2rem;
    height: 2rem;
  }
  ul {
    list-style: none;
  }
}
